.title{
    position: absolute;
    height: 125px;
    width: 500px;
    text-align: center;
    top: 20%;
    left: 35%;
    background-color: grey;  
    border: black solid 2px; 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

input{
    width: 300px;
}

li:hover{
    cursor: pointer;
    background-color:red;
}

#list{
    position: relative;
    margin-top: 40px;
    background-color: aqua;
    list-style: none;
}

.remove {
    float: right;
    margin-right: 10px;  
}

.remove:hover {
    cursor: pointer;
    float: right;
    color: red; 
}
